apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vault
  namespace: {{ .Values.spec.destination.namespace }}

spec:
  syncPolicy:
    automated:
      prune: true
      allowEmpty: true
  destination:
    namespace: vault
    server: {{ .Values.spec.destination.server }}
  project: {{ .Values.spec.project | default "default" }}
  source:
    chart: vault
    repoURL: https://helm.releases.hashicorp.com
    targetRevision: 0.22.0
    helm:
      values: |-
        fileParameters:
          - name: clusterFqdn
            path: kubectl://?default/configmap/cluster-metadata/jsonpath={.data.cluster.clusterFQDN}
        ui:
          enabled: true
        injector:
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
            requests:
              cpu: 250m
              memory: 128Mi
        server:
          ingress:
            enabled: true
            ingressClassName: nginx
            annotations:
              cert-manager.io/cluster-issuer: letsencrypt-production
              nginx.ingress.kubernetes.io/auth-tls-pass-certificate-to-upstream: 'true'
              nginx.ingress.kubernetes.io/auth-tls-secret: default/ca-secret
              nginx.ingress.kubernetes.io/auth-tls-verify-client: 'on'
              nginx.ingress.kubernetes.io/auth-tls-verify-depth: '1'
            tls:
              - hosts:
                  - {{ .Values.spec.hostname }}
                secretName: tls-vault-credential
            hosts:
              - host: {{ .Values.spec.hostname }}
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
            requests:
              cpu: 250m
              memory: 128Mi
  ignoreDifferences:
    - group: admissionregistration.k8s.io
      kind: MutatingWebhookConfiguration
      jqPathExpressions:
        - .webhooks[]?.clientConfig.caBundle
